# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unreal Engine 기본 설정
*.log
*.tmp
*.ini~
*.ncb
*.sdf
*.VC.db
*.VC.opendb
*.vscode

# Binaries, Derived Data Cache, Intermediate 폴더 제외
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# 빌드 파일 제외
*.dll
*.exe
*.pdb
*.obj
*.o
*.dylib
*.app

# 시스템 파일 제외
.DS_Store
Thumbs.db

# User-specific settings
*.user
*.userprefs
